<article id="about" class="post">
  <%- page.content %>
  <div class="projects">
    <h2>Что я сделал</h2>
    <% config.projects.forEach(project => { %>
      <div class="project">
        <div class="icon">
          <img src="/images/<%= project.image %>" alt="<%= project.title %>">
        </div>
        <div class="description">
          <p><strong><%= project.title %></strong> / <%= project.year %></p>
          <p><%= project.description %></p>
          <% project.links.forEach(link => { %>
            <p><%- link_to(link.url, link.title) %></p>
          <% }); %>
        </div>
      </div>
    <% }); %>
  </div>
</article>
